<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserAccountMapper">
    <insert id="insertOneUser" useGeneratedKeys="true" keyProperty="id">
        insert into user_account (userid, password) values (#{userid},#{password})
    </insert>
<!--    resultMap 数据库属性名不一致的时候需要映射-->
<!--    <resultMap id="KKK" type="com.example.demo.model.UserAccount">-->
<!--        <result column="数据库实际名" property="现在的名称"></result>-->
<!--    </resultMap>-->
<!--    <select id="findUser" resultMap="KKK">-->
<!--        select userid from user_account where userid = #{userid}-->
<!--    </select>-->
    <select id="findUser" resultType="com.example.demo.model.UserAccount">
        select userid from user_account where userid = #{userid}
    </select>
<!--    <update id="">-->

<!--    </update>-->

<!--    <delete id="">-->

<!--    </delete>-->
</mapper>